.navbar {
  margin: 0;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #7f2607;
  width: 100%;
  display: flex;
  position: fixed;
}
.navbar p {
  margin: 0;
  float: left;
  padding-top: 15px;
  padding-left: 20px;
  color: white;
  font-size: x-large;
  font-weight: bold;
  width: 80%;
}

.head_cont {
  height: 100%;
  width: 70%;
}

.cart_cont {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .head_cont {
    width: 60%;
  }

  .cart_cont {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .head_cont p {
    font-size: large;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
    padding: 0;
  }
}
